@use "@styles/variables" as vars;

.input {
  display: block;
  width: 100%;
  height: 36px;
  padding: 0 8px 0 10px;
  border: 1.2px solid vars.$lightGray;
  border-radius: 6px;
  outline: none;
  transition: .1s all;

  &:focus {
    border: 1.2px solid vars.$black;
    outline: none;
  }

  &::placeholder {
    font-size: 14px;
    font-family: "Poppins-Regular", sans-serif;
    color: #8D8D8D;
  }
}
