@mixin container {
  width: 92%;
  margin: 0 auto;
  padding-bottom: 50px;
}

@mixin inputLabel {
  margin-bottom: 10px;
  font-weight: 500;
}

@mixin formError {
  color: red;
  font-size: 12px;
  font-weight: 500;
  margin-top: 3px;
  text-align: left;
}
