@use "@styles/mixins" as mix;

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 355px;
  height: 100%;
  width: 100%;
}

.formContent {
  width: 100%;
  margin-top: 15px;
}

.formError {
  @include mix.formError;
}

.inputsInner {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;

  & > div {
    width: 100%;
  }
}

.inputLabel {
  @include mix.inputLabel;
  display: inline-block;
}

.secretKeyBtn {
  position: relative;

  & input {
    font-size: 14px;
    line-height: 14px;
    font-family: inherit;
    font-variant-ligatures: none;
  }

  & > input[type="password"] {
    -webkit-text-security: disc;
    font-size: 14px;
  }
}

.eyeBtn {
  border: none;
  background-color: inherit;
  padding: 0;
  color: #67717B;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.errorMessage {
  padding: 60px;
  text-align: center;
}

@container form (max-width: 500px) {
  .inputsInner {
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px;
  }
}
