@use "@styles/variables" as vars;
@use "@styles/mixins" as mix;

.pageContainer {
  @include mix.container;
}

.titleInner {
  margin: 20px 0;
}

.providerInner {
  margin-top: 20px;
}

.providerLabel {
  font-weight: 500;
}

.buttonWrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.providerBtn {
  width: 100%;
  height: 44px;
  background-color: vars.$buttonBg;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 10px;
  cursor: pointer;

  &:hover,
  &:active {
    transition: 0.5s;
    background-color: #e8ecf0;
  }
}

.selectedProvider{
  background-color: #e8ecf0;
}


@container form (max-width: 500px) {
  .buttonWrapper {
    flex-direction: column;
  }
}
