@use "@styles/variables" as vars;

.destinationsBox {
  margin-top: 50px;

  & > span {
    text-align: center;
    padding: 0 20px;
    font-weight: 500;
  }
}

.destinationsWrapper {
  min-width: 550px;
  width: fit-content;
  height: 100%;
  max-height: 400px;
  overflow-y: auto;
  background-color: vars.$lightGray;
  margin-top: 10px;
  padding: 25px;
  border-radius: 6px;
}
