@use "@styles/variables" as vars;

.formWrapper {
  background-color: vars.$white;
  width: 100%;
  max-width: 550px;
  min-height: 323px;
  height: 100%;
  border: 1.2px solid vars.$lightGray;
  border-radius: 10px;
  container-type: inline-size;
  container-name: form;
}

.configFormWrapper {
  min-height: 418px;
}

.formInner {
  padding: 20px;
}

.formTitle {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
