@use "@styles/variables" as vars;

.formWrapper {
  background-color: vars.$white;
  width: 100%;
  max-width: 550px;
  height: 323px;
  border: 1.2px solid vars.$lightGray;
  border-radius: 10px;
  padding: 20px;
  container-type: inline-size;
  container-name: form;
}

.formContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.formTitle {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.actionsWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
